<div class="row">
  <div class="large-8 large-offset-2 columns blue-box" id ="inputloc">
    <h3>Your trip</h3>
    <%= form_for @trip, action: "create", html: {class: "nifty_form"} do |f| %>
      <ul>
        <% if @trip.errors.any? %>
          <% @trip.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">
          <li>
            <%= f.label :name ,class: "signintext"%>
          </li>
          <li>
            <%= f.text_field :name, placeholder: "Name", class: "text_boxes"%>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">
          <li class="italictext"> Enter place of trip in (Location, State, Country) format </li>
          <li>
            <%= f.label :address ,class: "signintext"%>
          </li>
          <li>
            <%= f.text_field :address, placeholder: "Address", class: "text_boxes"%>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">
          <li>
            <%= f.label :description ,class: "signintext"%>
          </li>
          <li>
            <%= f.text_area :description, placeholder: "Description", class: "text_boxes"%>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">
          <li>
            <%= f.label :date ,class: "signintext"%>
          </li>
          <li>
            <%= f.select :trip_date, (Time.zone.today - 4000)..(Time.zone.today + 1)%>
          </li>
        </div>
      </div>






      <div class="row">
        <li>
          <%= f.submit "Create", class: "large-4 large-offset-4 columns answer large button"%>
        </li>

        <li>
          <%= link_to "VIEW ALL", trips_path,:class => "large-4 large-offset-4 columns secondary small button" %>
        </li>
        <br>
      </div>

    <% end %>
  </div>
</div>
