<div class="row">
  <div class="large-12 columns blue-box">
    <%= form_for [@user], url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
      <li><%= f.label :profile_photo,class: "signintext" %></li>
      <li><%= f.file_field :profile_photo %></li><br>
      <li><%= f.label :name,class: "signintext" %></li>
      <li><%= f.text_field :name%></li><br>
      <li><%= f.label :email,class: "signintext" %></li><br>
      <li><%= f.text_field :email%></li><br>
      <li><%= f.label :password,class: "signintext" %></li><br>
      <li><%= f.password_field :password%></li><br>
      <li><%= f.submit "Update" , class: "secondary large button" %></li>
    <% end %>
  </div>
</div>

