

<div class="row">
  <div class="large-10 large-offset-1 columns question-boxes">
    <li><%=link_to "New hunt", new_location_path,class: "question-text hvr-float" %>
    <%=link_to "All Locations", locations_path,class: "question-text hvr-float"%></li>
  </div>
</div>


<div class="row">
  <div class="large-10 large-offset-1 columns question-boxes">
    <h3>All hunts</h3><br>
    <h3> Your hunts </h3>
    <div class="large-10 large-offset-1 columns question-boxes question-text hvr-float">
    <%@hunts.each do|hunt|%>

      <% if hunt.user == current_user%>
        <li>Your hunt : <%=link_to ">> #{hunt.name}", hunt_path(hunt)%> -  <%=hunt.location.address.split(',').first%></li>
      <%end%>

      <% if hunt.user != current_user%>
        <li>Creator : <%=hunt.user.name%>  <%=link_to "#{hunt.name}", hunt_path(hunt)%> -  <%=hunt.location.address.split(',').first%></li>
      <%end%>

      <% if hunt.questionsets.count == 5 %>
         <li><%=link_to "Play", hunt_questionset_path(hunt, hunt.questionsets.first)%></li>
      <%end%>

    <%end%><br>
    </div>


  </div>
</div>


