
<%= form_for([@location, @hunt]) do |f| %>
  <ul>
    <% if @hunt.errors.any? %>
      <% @hunt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% end %><br>
  </ul>

  <div class="row">
    <div class="large-8 columns">
      <%= f.label :name,class: "signintext" %><br>
      <%= f.text_field :name%><br>
      <%= f.label :description,class: "signintext" %><br>
      <%= f.text_area :description%><br>
      <%= f.submit "Create", class: "secondary large button" %>
    </div>
  </div>

<% end %>


