<div class="row">
  <div class="large-12 columns blue-box">
    <%= form_for [@hunt, @questionset], url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
      <li><%= f.label :hunt_photo %></li>
      <li><%= f.file_field :hunt_photo %></li>
      <li><%= f.label :question %></li>
      <li><%= f.text_field :question%></li>
      <li>For a business, enter name with address for accuracy</li>
      <li><%= f.label :address %></li>
      <li><%= f.text_field :address%></li>
      <li><%= f.label :description %></li>
      <li><%= f.text_area :description%></li><br>
      <li><%= f.submit "Update" %></li>
    <% end %>
  </div>
</div>
