<br>
<div class="row">
  <div class="large-8 columns blue-box">
    <ul>
      <% if @hunt.errors.any? %>
        <% @hunt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %><br>
    </ul>

    <%= form_for(@hunt, :url => {action: 'update', id: @hunt.id}) do |f| %>
      <div class="row">
        <div class="large-8 columns blue-box">
          <%= f.label :name,class: "signintext" %><br>
          <%= f.text_field :name%>
           <%= f.label :description,class: "signintext" %><br>
          <%= f.text_area :description%>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns blue-box">
          <%= f.submit "Update", class: "secondary large button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


