<% if flash.any? %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= form_for([@trip, @tripdetail]) do |f| %>
  <ul>
    <% if @tripdetail.errors.any? %>
      <% @tripdetail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% end %><br>
  </ul>

 <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">
          <li>
            <%= f.label :name ,class: "signintext"%>
          </li>
          <li>
            <%= f.text_field :name, placeholder: "Name", class: "text_boxes"%>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">
          <li class="italictext"> Enter place of trip in (Location, State, Country) format </li>
          <li>
            <%= f.label :address ,class: "signintext"%>
          </li>
          <li>
            <%= f.text_field :address, placeholder: "Address", class: "text_boxes"%>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">
          <li>
            <%= f.label :description ,class: "signintext"%>
          </li>
          <li>
            <%= f.text_area :description, placeholder: "Description", class: "text_boxes"%>
          </li>
        </div>
      </div>









      <div class="row">
       <div class="large-8 large-offset-2 columns" >
        <li>
          <%= f.submit "Create", class: "large-4 large-offset-4 columns answer large button"%>
        </li>
        </div>
        </div>

<% end %>


