
<%= form_for @trip, action: "update", html: {class: "nifty_form"} do |f| %>
  <ul>
    <% if @trip.errors.any? %>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">

          <li>
            <%= f.text_field :name, placeholder: "Name", class: "text_boxes"%>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">
          <li class="italictext"> Enter place of trip in (Location, State, Country) format </li>

          <li>
            <%= f.text_field :address, placeholder: "Address", class: "text_boxes"%>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">

          <li>
            <%= f.text_area :description, placeholder: "Description", class: "text_boxes"%>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="large-8 large-offset-2 columns" id="inputloc">


          <li>
            <%= f.date_select :trip_date, :start_year=>2004,:end_year=>Time.now.year%>
          </li>
          <li><%= f.submit "Update" %></li>
        </div>
      </div>








<% end %>

