
<div class="row">
  <div class="large-10 large-offset-1 columns question-boxes">
        <div class="row">
         <div class="large-6 columns hvr-float">
          <li><%= link_to "New Hunt", new_location_hunt_path(@location),class: "question-text smallfont hvr-float" %>
         <%= link_to "All locations", locations_path,class: "question-text smallfont hvr-float" %>
          <%= link_to "All Hunts", location_hunts_path(@location),class: "question-text smallfont hvr-float" %></li>
        </div>

        </div>
       <h3 class="boxtext" style="color:orange"><%=@location.address.split(',').first.upcase%></h3>
      <h3 class="boxtext" style="margin-top:2%;border:0px">Choose Hunt</h3>
       <div class="large-10 large-offset-1 columns question-boxes hvr-float">
        <%@hunts.each do|hunt|%>

          <%if Questionset.if_exists?(hunt.id).empty? == false%>
            <%@playflag = true %>
            <%id = hunt.questionsets.first.id%>
          <%end%>
          <div class="large-10 large-offset-1 columns hvr-float">
            <li class="bottomlineborder"><%=hunt.name%> (mouseover for info)</li>
            <li class="descpop">Creator : <%=hunt.user.name%><br>
            <%=hunt.description%></li>

            <%if current_user.id == hunt.user_id%>

              <li><%= link_to "Hunt Details", location_hunt_path(@location, hunt) %></li>
            <%else%>

              <%if @playflag == true%>
                <li><%= link_to "Hunt Details", location_hunt_path(@location, hunt) %></li>
              <%end%>
            <%end%>
          </div>
        <%end%>
         <div class="large-4 large-offset-4 columns">
          <li><%= paginate @hunts %></li>
        </div>
       </div>
      <p></p>




  </div>
</div>


